
<h2>选择小区</h2>

<dx-select-box class="select-box"
    [items]="communities"
    valueExpr="community_id"
    displayExpr="community"
    [(value)]="community_post_id"
    placeholder="发布到哪个小区"
    (onItemClick)="onSelectCommunityChanged()">
</dx-select-box>

<dx-data-grid class="data-box"
    id="gridContainer"
    [dataSource]="users"
    keyExpr="身份证号"
    [showBorders]="true"
    [focusedRowEnabled]="true">

    <!-- <dxo-editing -->
        <!-- [allowUpdating]="true" -->
        <!-- [allowDeleting]="true" -->
        <!-- [selectTextOnEditStart]="true" -->
        <!-- [useIcons]="true"> -->
    <!-- </dxo-editing> -->

    <dxo-header-filter [visible]="true">
    </dxo-header-filter>

    <dxo-filter-panel [visible]="true">
    </dxo-filter-panel>

    <dxo-filter-row [visible]="true">
    </dxo-filter-row>

    <dxo-paging [pageSize]="20">
    </dxo-paging>

    <dxo-pager
        [allowedPageSizes]="[5, 10, 20, 30]"
        [showPageSizeSelector]="true"
        [showNavigationButtons]="true">
    </dxo-pager>

    <dxi-column dataField="身份证号">
    </dxi-column>

    <dxi-column dataField="姓名">
    </dxi-column>

    <!-- <dxi-column dataField="状态">
    </dxi-column> -->

    <!-- <dxi-column dataField="LastName">
    </dxi-column>

    <dxi-column dataField="Phone">
    </dxi-column>

    <dxi-column dataField="BirthDate"
        dataType="date">
    </dxi-column>

    <dxi-column dataField="Address">
    </dxi-column>

    <dxi-column dataField="StateID"
        caption="State">
        <dxo-lookup
            [dataSource]="states"
            valueExpr="ID"
            displayExpr="Name">
        </dxo-lookup>
    </dxi-column> -->

</dx-data-grid>
