<div>
    <h2>公告栏</h2>
    <dx-select-box class="select-box"
        [items]="communities"
        valueExpr="community_id"
        displayExpr="community"
        [(value)]="community_post_id"
        placeholder="发布到哪个小区"
        (onItemClick)="onSelectCommunityChanged()">
    </dx-select-box>

    <br>
    <dx-text-area class="textbox"
        [height]="300"
        [(value)]="valueContent">
    </dx-text-area>

    <br>

    <dx-button class="button"
        stylingMode="contained"
        text="发布公告"
        type="normal"
        [width]="120"
        (onClick)="click()">
    </dx-button>
</div>

<br>

<h2>已发布的公告</h2>
<div class="list-container"
    *ngFor="let notification of notifications">
    <dx-list class="com-list"
        *ngIf="community_post_unselected||notification.items[2]==community_post.community"
        height="100%"
        [dataSource]="[notification]"
        [grouped]="true"
        [collapsibleGroups]="true">
        <div *dxTemplate="let item of 'group'">
            <div>发布时间 {{item.key}}</div>
        </div>
    </dx-list>
</div>
