::ng-deep .dx-htmleditor-content img {
    vertical-align: middle;
    padding-right: 10px;
}

::ng-deep .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 20px;
}

::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}

::ng-deep .option {
    margin-top: 10px;
}

.textbox {
    margin: 10px;
}

.button {
    margin-left: 10px;
}

.select-box {
    margin: 10px;
    margin-bottom: 0px;
}

.list-container {
    margin-bottom: 20px;
}

.com-list {
    margin-bottom: 20px;
}

h2 {
    margin-left: 10px;
}