<div>
<dx-html-editor 
    height="550px"
    valueType="Markdown"
    (valueChange)="valueChange($event)">
    <dxo-toolbar multiline="true">
        <dxi-item formatName="undo"></dxi-item>
        <dxi-item formatName="redo"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
        <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="bold"></dxi-item>
        <dxi-item formatName="italic"></dxi-item>
        <dxi-item formatName="strike"></dxi-item>
        <dxi-item formatName="underline"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="alignLeft"></dxi-item>
        <dxi-item formatName="alignCenter"></dxi-item>
        <dxi-item formatName="alignRight"></dxi-item>
        <dxi-item formatName="alignJustify"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="orderedList"></dxi-item>
        <dxi-item formatName="bulletList"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="color"></dxi-item>
        <dxi-item formatName="background"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="link"></dxi-item>
        <dxi-item formatName="image"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="clear"></dxi-item>
        <dxi-item formatName="codeBlock"></dxi-item>
        <dxi-item formatName="blockquote"></dxi-item>
    </dxo-toolbar>
    <dxo-media-resizing
        [enabled]=true>
    </dxo-media-resizing>
    <h1>
        请在此输入内容
    </h1>
</dx-html-editor>

<br>

<dx-button
    stylingMode="contained"
    text="发布公告"
    type="normal"
    [width]="120"
    (onClick)="click($event)">
</dx-button>
</div>
<br>

<h2>已发布的公告</h2>
<div class="list-container">
    <dx-list
        height="100%"
        [dataSource]="notifications"
        [grouped]="true"
        [collapsibleGroups]="true">
        <div *dxTemplate="let item of 'group'">
            <div>发布时间 {{item.key}}</div>
        </div>
    </dx-list>
</div>
